body{
    background-color: lightgrey;

}
div{
    display: block;
}
#header{
    font-weight: bold;
    color: purple;
    text-align: center;
}
#group-by{
    background-color: ghostwhite;
    text-align: center;
    outline-width: 10px;
    width: 250px;
    display: inline-block;
}
